# this is a sample environment file to be used as a template 
# for configuring the tlpapps environment

# connection string to ScaleGrid
# you may use the tokens %USER% and %PW% in place of those values
# in the connection string
MONGO_CONN_STRING="ScaleGrid.io Connection String"

# Mongodb database this service will be connecting to
MONGO_DB="Database"

# Database user name - do not connect to the system using the admin user account
MONGO_USER="ScaleGrid User Name"

# Database user password
MONGO_PASS="ScaleGrid Password"

# Go High Level Settings
GHL_API_URL="https://services.leadconnectorhq.com"
GHL_API_VERSION="2021-07-28"
REDIRECT_URL="https://tlpapps.theleadingpractice.com:8080/oauth"

CLIENT_ID=""
CLIENT_SECRET=""
TOKEN_KEY=""

# Telegram settings
TELEGRAM_BOT_KEY
TELEGRAM_BOT_GROUP_ID
TELEGRAM_BOT_LEVEL="error"

# Logging settings
LOG_ROOT_PATH="/var/logs/"
LOG_LEVEL="40"
LOG_TO_CONSOLE="true"