# Sample environment file
# copy this file to .env and change the values below

# connection string to ScaleGrid
# you may use the tokens %USER% and %PW% in place of those values
# in the connection string
MONGO_CONN_STRING="ScaleGrid.io Connection String"

# Mongodb database this service will be connecting to
MONGO_DB="Database"

# Database user name - do not connect to the system using the admin user account
MONGO_USER="ScaleGrid User Name"

# Database user password
MONGO_PASS="ScaleGrid Password"